{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Welcome to oauth-example</h1>
    <p>Time to start building your site!</p>
    <p><a class="btn btn-primary btn-lg" href="http://luminusweb.net">Learn more &raquo;</a></p>
  </div>

  <div class="row">
    <div class="span12">
      <a href="/oauth/twitter-init">Sign in with Twitter</a>
      <h2>
        {% if denied %}
          Failed to sign in!
      {% else %}
          Welcome! {{user}}
      {% endif %}
      </h2>

    </div>
  </div>
{% endblock %}
